.Menu {
    position:fixed;
    top:0;
    right: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: var(--z-menu);
    background: #fff; /*#b7d8dd;*/
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0px 0 50px rgba(0,0,0,0.25);
}


.Menu_header {
    background-color: whitesmoke;
}

.Menu_icon {
    cursor: pointer;
    width: 35px;
    height: auto;
    padding:5px;
}
.Menu_icon:hover {
    padding: 3px 5px 7px;
}

.Menu_block {
    padding:15px 20px;
}
.Menu_block:hover {
    padding-left:17px;
    border-left: 3px solid #151515;
}

.Menu_block.__open-context {
    /*border-left: 3px solid #151515;*/
}


.Menu_block_header {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.1)
}

.Menu_block_row {
    margin-bottom: 10px;
}

.Menu_block_row.__collapsed {
    display:none;
}

.Menu_contexts-list li {
    margin-bottom: 5px;
}
