.glyph-menu{
    width: max-content;
    height: max-content;
}

.glyph-menu__list{
    display: block;
}

.glyph-menu__list--hidden{
    display: none;
}

.glyph-item{
    margin-bottom: 5px;
}

.glyph-item:last-child{
    margin-bottom: 0;
}

.glyph-menu__link:hover{
    background-color: yellow;
}

.glyph-menu__link--remove:hover{
    background-color: red;
}