.Glyph {

    position:absolute;
    z-index: var(--z-glyph);
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: move;
    text-align:center;
    font-size:14px;

}


/*  -   -   -   -   -   -   -   -   -   -   -   -   */


.Glyph.__horizontal {
    flex-direction: row;
}
.Glyph.__horizontal .GlyphContent {
    text-align: left;
}

.Glyph.__horizontal__reversed {
    flex-direction: row-reverse;
}
.Glyph.__horizontal__reversed .GlyphContent {
    text-align: right;
}

.Glyph.__vertical {
    flex-direction: column;
}
.Glyph.__vertical .GlyphContent {
    text-align: center;
}

.Glyph.__vertical__reversed {
    flex-direction: column-reverse;
}
.Glyph.__vertical__reversed .GlyphContent {
    text-align: center;
}


/*  -   -   -   -   -   -   -   -   -   -   -   -   */


.GlyphImg {}

.GlyphHeader {
    font-size: 18px;
    padding: 10px;
}

/*
    Connectors
    Are used to set from and to glyphs of the connection
*/

.GlyphConnector {
    display: none;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    align-items: center;
    justify-content: center;
}

.Context.ConnectionModeOn .GlyphConnectorFrom {
    background: green;
    display:flex;
}

.Context.FromGlyphChosen .GlyphConnectorTo {
    background: greenyellow;
    display:flex;
}