.Glyph {

    position:absolute;
    background: white;
    border-radius: 50%;
    z-index: var(--z-glyph);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background:rgba(0,0,0,0.2);*/
    cursor: move;
    text-align:center;

}

.ConnectorFrom, .ConnectorTo {
    display: none;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    align-items: center;
    justify-content: center;
}

.Context.ConnectionModeOn .ConnectorFrom {
    background: green;
    display:flex;
}

.Context.FromGlyphChosen .ConnectorTo {
    background: green;
    display:flex;
}